[submodule "freetype"]
	path = freetype
	url = https://github.com/gpac-buildbot/freetype.git
	ignore = dirty
[submodule "libpng"]
	path = libpng
	url = https://github.com/gpac-buildbot/libpng.git
	ignore = dirty
[submodule "libjpg"]
	path = libjpg
	url = https://github.com/gpac-buildbot/libjpg.git
	ignore = dirty
[submodule "faad2"]
	path = faad2
	url = https://github.com/gpac-buildbot/faad2.git
	ignore = dirty
[submodule "libmad"]
	path = libmad
	url = https://github.com/gpac-buildbot/libmad.git
	ignore = dirty
[submodule "js"]
	path = js
	url = https://github.com/gpac-buildbot/js.git
	ignore = dirty
[submodule "nghttp2"]
	path = nghttp2
	url = https://github.com/gpac-buildbot/nghttp2.git
	ignore = dirty
[submodule "SDL_iOS/SDL2"]
	path = SDL_iOS/SDL2
	url = https://github.com/libsdl-org/SDL.git
	ignore = dirty
[submodule "libcaption"]
	path = libcaption
	url = https://github.com/szatmary/libcaption.git
	ignore = dirty
[submodule "mpeghdec"]
	path = mpeghdec
	url = https://github.com/Fraunhofer-IIS/mpeghdec.git
	ignore = dirty
